---
import Navigation from './Navigation.astro';
---

<header>
  <nav>
    <Navigation />
  </nav>
</header>



<!---------STYLES----------->
<style>
  header {
    display: flex;
    position: fixed;
    width: 100vw;
    /* justify-content: flex-end; */
    padding-top: 3vh;
    padding-right: 3vh;
    transform: translate(-3vh);
  }
</style>
